@mixin callout-styles {
  .callout {
    padding: 1rem;
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 0.875rem;
    border: solid 1px transparent;
    white-space: normal;

    &.code {
      font-family: monospace;
      font-size: 0.75rem;
      white-space: pre-wrap;
    }

    &.neutral {
      color: var(--text-primary);
      background-color: var(--background-color);
      border-color: var(--border-color);
    }

    &.warn {
      color: #b45309;
      background-color: #fffbeb;
      border-color: #fef3c7;
    }

    &.error {
      color: #cd0000;
      background-color: #ffe7e7;
      border-color: #df9e9e;
    }
  }
}
