// Via https://css-loaders.com
:host {
  width: 35px;
  padding: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--status-fill-excellent);
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: frames 1s infinite linear;
}

@keyframes frames {
  to {
    transform: rotate(1turn);
  }
}
